@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }

  .slider {
    height: 23vh;
  }

  .logo {
    justify-content: center;
    margin: 12px 0;
  }

  nav ul {
    justify-content: center;
    height: 30px;
  }

  .search {
    justify-content: center;
  }

  .search input {
    margin: 12px;
  }

  .card-items {
    min-width: 150px;
  }

  .item-img {
    width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 95vw;
  }

  .cards {
    gap: 15px;
    padding: 10px 5px;
  }

  .card-items {
    min-width: 130px;
  }

  .item-img {
    width: 120px;
    height: 120px;
  }
}