@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #0e06f87a;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 88px;
  padding: 0 25px;
}
nav ul {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  font-weight: bold;
}
.container {
  min-height: calc(100vh - 55px - 12vh);
}
.search {
  display: flex;
  align-items: center;
}
.search input{
    width: 490px;
    height: 28px;
    border-radius: 3px;
    margin: 0 20px 0 56px;
}
.btn{
    
}
footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Montserrat", sans-serif;
}
