@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #0e06f87a;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  padding: 0 25px;
}
nav ul {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
}
.search input{
    width: 30vw;
    height: 28px;
    border-radius: 3px;
    margin: 0 20px 0 56px;
    padding: 0 12px;
}
.search button{
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
.slider{
  /* display: flex;
  justify-content: center; */
  margin: 12px auto;
  width: 80vw;
  overflow: hidden;
}
.slider img{
  height: 400px;
  width: 100%;
}

.card{
  max-width: 91vw;
  margin: 37px auto;
} 
.cards{
  display: flex;
  overflow: hidden;

}

.card-items{
  width: 10vw;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 23px;
}

.container {
  min-height: calc(100vh - 55px - 12vh);
}

footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Montserrat", sans-serif;
}
