.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 7px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.item-img{
 height: 160px;
 width: 160px;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 0;
}

.text-center{
    text-align: center;
}